body{
    overflow-x: hidden;
}
.navbar-brand img{
    max-width:100px;
    border-radius: 50px;
   
}
nav {
     background-color:rgb(241, 174, 5);
    
     position: fixed!important;
     top: 0;
     z-index: 99;
     width: 100%;
}
 .main-seection{
    margin-top:126px;
}
.carousel-item img
{
    height:300px;
}
.nav-item{
  font-weight:bold;
}
/* .navbar-nav{
    padding-left:320px;
} */
#navbarNavDropdown{
    padding-left:36%;
}
.about p{
    text-align: justify;
} 
.home-card .card{
    margin-top: 20px;
    background: white;
  }

.card {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card img {
    /* width: 100%; */
    height: 190px;;
    display: block;
}
.card-body {
    padding: 15px;
    text-align: center;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.card-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

  form {
    margin-top: 10%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  
  label {
    font-size: 14px;
    color: #555;
  }
  
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  
  .form-check-input {
    margin-top: 10px;
    margin-right: 5px;
  }
  
  
  button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  button.btn-primary:hover {
    background-color: #0056b3;
  }
  
  
  .container {
    margin-top: 20px;
  }
  
  
  h6 {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 15px;
  }
  
  
  h6 a {
    color: #007bff;
    text-decoration: none;
  }
  
  h6 a:hover {
    text-decoration: underline;
  }
   
 
